body {
  font-family: "Roboto", sans;
}
.blog--header {
  border-top: 2px solid #333;
  font-weight: 100;
  padding-top: 1em;
  padding-bottom: 1em;
}
.blog--header-inner {
  max-width: 700px;
  margin: 0 auto;
}
.post {
  max-width: 700px;
  font-weight: 100;
  font-size: 16px;
  margin: 0 auto;
}
.post--header {
  margin-bottom: 2em;
}
.post--footer {
  margin-bottom: 3em;
}
.post--title {
  font-family: "Roboto Condensed", sans;
  font-weight: 800;
  font-size: 2.8em;
}
.post--title-url {
  color: inherit;
}
.post--meta {
  font-size: .9em;
  font-style: italic;
  opacity: .7;
}
.post h2 {
  font-family: "Roboto", sans;
  font-weight: bold;
  margin-top: 1em;
}
.post h3 {
  font-family: "Roboto Condensed", sans;
  font-size: 1.1em;
  text-transform: uppercase;
}
